{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<div class="content-section">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}       <! Token required as part of additional security for django to protect from certain attacks >
    <fieldset class = "form-group">
      <legend class = "border-bottom mb-4">Contact us</legend>
      {{ form|crispy }} <! reders form as paragraphs by using .as_p method     ----   Vertical line '|' provides us with a filter>
    </fieldset>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-success" name="user_contact_us_submit_button">Send message</button>
      </div>
  </form>
</div>
{% endblock content %}
