{% extends "blog/base.html" %}
{% load static %}
{% block content %}
<h1>Website Privacy Notice</h1>
<p>We are committed to safeguarding the privacy of our website and service users.&nbsp;</p>
<p><a href="http://www.beandrop.net">www.beandrop.net</a> is provided by Bean Drop Ltd. Bean Drop Ltd. is the data controller for the pages starting with <a href="http://www.beandrop.net">www.beandrop.net</a>. This privacy notice applies when we are acting as a data controller with respect to the personal data of our website visitors and service users.</p>
<p>A data controller determines how and why personal data is processed. For more information, visit&nbsp; <a href="https://ico.org.uk/">https://ico.org.uk/</a> the website for the Information Commissioner&#8217;s Office; the UK’s independent authority set up to uphold information rights in the public interest promoting openness by public bodies and data protection for individuals.&nbsp;</p>
<p>In this policy, &#8220;we&#8221;, &#8220;us&#8221; and &#8220;our&#8221; refer to Bean Drop Ltd.&nbsp;</p>
<h3>What data we collect</h3>
<p>The personal data we collect from you includes:</p>
<ul>
  <li>Your <strong>Usage Data</strong> which is Information on how you use the site, using cookies and page tagging techniques</li>
  <li>Your <strong>Profile Data</strong>; the profile data may include your age and genger and is only collected if you register to Bean Drop with one of our social login options and you let us collect this data. This data is always anonymised before being used for analytics.</li>
  <li>Your <strong>Location Data</strong> through either GPS or IP address.</li>
  <li>Your <strong>Transaction Data</strong> relating to any transactions including purchases and refunds of goods and services that you enter into with us.&nbsp;</li>
  <li>Your <strong>Notification Data</strong> which is information that you provide us for the purpose of subscribing to our email notification and or newsletters</li><li>Your <strong>Correspondence Data</strong> which constitutes any information that you provide to Bean Drop relating to any communication that you send to us.&nbsp;</li>
</ul>
<p>We use Google Analytics software to collect your <strong>Usage Data</strong> to show us how you use <a href="http://www.beandrop.net">www.beandrop.net</a> and how the website performs during your visits. This data is anonymised before being used for analytics and web performance processing.&nbsp;</p>
<p>Google Analytics processes anonymised information about:</p>
<ul>
  <li>the pages you visit on www.beandrop.net</li>
  <li>how long you spend on each www.beandrop.net page</li>
  <li>how you got to the site</li>
  <li>what you click on while you’re visiting the site</li>
</ul>
<p>We do not store your personal information through Google Analytics.</p>
<p>We will not identify you through analytics information, and we will not combine analytics information with other data sets in a way that would identify who you are.</p>
<p>We continuously test and monitor our data protection controls to make sure they’re effective and to detect any weaknesses.</p>
<h3>Why we need your data</h3>
<p>Bean Drop will use your<strong> Personal Data</strong> to provide a more personal experience.&nbsp;</p>
<p>Bean Drop will use your<strong> Location Data</strong> This will help us locate and show you your nearest Bean Drop stations and participating cafes.&nbsp;</p>
<p>Ban Drop will use your <strong>Transaction Data</strong> to supply services, goods or refunds and for keeping proper records of those transactions.&nbsp;</p>
<p>Bean Drop will use your <strong>Notification Data</strong> for the purposes of sending you the relevant notifications and or/newsletters</p>
<p>Bean Drop will use your <strong>Correspondence Data</strong> for the purposes of record keeping and communicating with you.&nbsp;</p>
<p>We collect your <strong>Usage Data</strong> information through Google Analytics to see how you use www.beandrop.net and to see how well the site performs on your device. We do this to help:</p>
<ul>
  <li>make sure www.beandrop.net is meeting the needs of its users</li>
  <li>make improvements, for example improving site search</li>
  <li>make performance improvements, for example improving page load time and data usage</li>
</ul>
<p>&nbsp;We also collect your data in order to:</p>
<ul>
  <li>gather feedback to improve our services, for example our email alerts</li>
  <li>respond to any feedback you send us, if you’ve asked us to</li>
  <li>send email alerts to users who request them</li>
  <li>provide you with information about local services</li>
  <li>monitor use of the site to identify security threats</li>
  <li>monitor the performance of the site to identify inefficiencies and errors</li>
</ul>
<h3>Our legal basis for processing your data</h3>
<p>The legal basis for processing personal data in relation to site security is our legitimate interests, and the legitimate interests of our users, in ensuring the security and integrity of www.beandrop.net.</p>
<p>The legal basis for processing personal data and anonymised data is your consent.</p>
<h3>What we do with your data</h3>
<p>The data we collect will not share any of your data to any third parties</p>
<p>We will not collect any information relating to your card details, or payment details relating to your <strong>Transactional Data</strong>, we will act as a Data Process whilst ‘Stripe, Inc’ will act as data controller.&nbsp;</p>
<p><strong>We will not:</strong></p>
<ul>
  <li>sell or rent your data to third parties</li>
  <li>share your data with third parties for marketing purposes</li>
  <li>use your data in analytics without anonymising it first</li>
</ul>
<p>We will share your data if we are required to do so by law &#8211; for example, by court order, or to prevent fraud or other crime.</p>
<h3>How long we keep your data</h3>
<p>We will only retain your personal data for as long as:</p>
<ul>
  <li>it is needed for the purposes set out in this document</li>
  <li>the law requires us to</li>
  <li>We will keep your email data until you unsubscribe. We will keep your feedback data for 2 years. We will delete access log data after 120 days.</li>
</ul>
<h3>Children’s privacy protection</h3>
<p>Our services are not designed for, or intentionally targeted at, children 13 years of age or younger. We do not intentionally collect or maintain data about anyone under the age of 13</p>
<h3>How we protect your data and keep it secure</h3>
<p>We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data &#8211; for example, we protect your data using varying levels of encryption.</p>
<p>We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.</p>
<h3>Your rights</h3>
<p>You have the right to request:</p>
<ul>
  <li>information about how your personal data is processed</li>
  <li>a copy of that personal data</li>
  <li>that anything inaccurate in your personal data is corrected immediately</li>
</ul>
<p>You can also:</p>
<ul>
  <li>raise an objection about how your personal data is processed</li>
  <li>request that your personal data is erased if there is no longer a justification for it</li>
  <li>ask that the processing of your personal data is restricted in certain circumstances</li>
</ul>
<p>If you have any of these requests, get in contact with our Privacy Team (beandrop.company@gmail.com).</p>
<h3>About Cookies</h3>
<p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</p>
<p>Cookies may be either &#8220;persistent&#8221; cookies or &#8220;session&#8221; cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>
<p>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</p>
<h3>Cookies that we use</h3>
<h4>Necessary Cookies</h4>
<p>Some cookies are essential to the operation of our Site and Services and make it usable and secure by enabling basic functions like page navigation and access to secure areas of the Site. We use those cookies in a number of different ways, including:</p>
<ul>
  <li><strong>Authentication.</strong> To remember your login state so you don’t have to log in as you navigate through our Site and dashboard.</li><li><strong>Fraud Prevention and Detection</strong>. Cookies and similar technologies that we deploy through our Site help us learn things about computers and web browsers used to access the Services. This information helps us monitor for and detect potentially harmful or illegal use of our Services. To help secure these transactions and minimize fraud, we collect additional information through the use of cookies and other technologies in helping to identify bad actors and prevent them from making fraudulent transactions.</li><li><strong>Security.</strong> To protect user data from unauthorized access.</li><li><strong>Functionality. </strong>To keep our Site and Services working correctly, like showing you the right information for your selected location.</li>
</ul>
<h4>Preference Cookies</h4>
<p>Preference cookies are used by Bean Drop Ltd to remember your preferences and to recognize you when you return to our Services.</p>
<h4>Analytics Cookies</h4>
<p>Analytics cookies help us understand how visitors interact with our Services. We use those cookies in a number of different ways, including:</p>
<ul>
  <li><strong>Site Features and Services.</strong> To remember how you prefer to use our Services so that you don’t have to reconfigure your settings each time you log into your account.</li><li><strong>To Analyze and Improve Our Services</strong>. To make our Site and Services work better for You. Cookies help us understand how people reach our Site and our Users’ sites. They give us insights into improvements or enhancements we need to make to our Site and Services.</li>
  <li><strong>Third Party Analytics. </strong>Through Google Analytics in order to collect and analyze information about the use of the Services and report on activities and trends. This service may also collect information regarding the use of other sites, apps and online resources. You can learn about Google’s practices on the Google website. See further details below on how to manage these cookies.</li>
</ul>
<h3>Managing Cookies</h3>
<p>Internet browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary from browser to browser, and from version to version. You can however obtain up-to-date information about blocking and deleting cookies by contacting the support section of whichever browser you use. Some browsers are listed and linked below for ease of access. If you choose to disable cookies, some features of our Site or services may not operate as intended.</p>
<ul>
  <li><strong>Chrome</strong>: https://support.google.com/chrome/answer/95647?hl=en</li>
  <li><strong>Explorer:</strong> https://support.microsoft.com/en-us/help/17442/windows-internet-explorer-delete-manage-cookies</li>
  <li><strong>Safari:</strong> https://support.apple.com/guide/safari/manage-cookies-and-website-data-sfri11471/mac</li>
  <li><strong>Firefox:</strong> https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer</li>
  <li><strong>Opera:</strong> https://help.opera.com/en/latest/web-preferences/#cookies</li>
</ul>
<h3>Contact us or make a complaint</h3>
<p>Contact the Privacy Team if you:</p>
<ul><li>have a question about anything in this privacy notice</li><li>think that your personal data has been misused or mishandled</li></ul>
<p>Privacy Team Email: beandrop.company@gmail.com</p>
<p>You can also contact our Data Protection Officer (DPO):</p>
<p>Henry Willson</p>
<p>beandrop.company@gmail.com</p>
<p>10 Tranby Lane</p>
<p>Swanland</p>
<p>East Riding of Yorkshire</p>
<p>HU14 3NB</p>
<p>You can also make a complaint to the Information Commissioner, who is an independent regulator.</p>
<h4>Information Commissioner</h4>
<p>casework@ico.org.uk</p>
<p>Telephone: 0303 123 1113</p>
<p>Textphone: 01625 545860</p>
<p>Monday to Friday, 9am to 4:30pm</p>
<p>Find out about call charges</p>
<h4>Information Commissioner&#8217;s Office</h4>
<p>Wycliffe House</p>
<p>Water Lane</p>
<p>Wilmslow</p>
<p>Cheshire SK9 5A</p>
<h3>Changes to this policy</h3>
<p>We may change this privacy policy. In that case, the ‘last updated’ date at the bottom of this page will also change. Any changes to this privacy policy will apply to you and your data immediately.</p>
<p>If these changes affect how your personal data is processed, we will take reasonable steps to let you know.</p>
<p>Last updated 16 June 2021</p>


{% endblock content %}
